---
layout: default
---

<div class="content">
  <div id="header">
    <a href="/">Matthieu Boisgontier</a>
  </div>

  <div id="description">
    {% include me.html %}
  </div>
</div>

<div id="accordion">
  <h1 id="cv" name="cv">
		<span class="menu">Publications</span>
	</h1>
  <div>
    {% include loop_publications.html %}
  </div>

  <h1 id="cv" name="cv">
		<span class="menu">Education & Positions</span>
	</h1>
  <div>
    {% include training.html %}
  </div>

  <h1 id="cv" name="cv">
		<span class="menu">Financial Support</span>
	</h1>
  <div>
    {% include financialsupport.html %}
  </div>

  <h1 id="cv" name="cv">
		<span class="menu">Media</span>
	</h1>
  <div>
    {% include inthepress.html %}
</div>

  <h1 id="cv" name="cv">
		<span class="menu">Knowledge Translation</span>
	</h1>
  <div>
    {% include popularization.html %}
  </div>
	
  <h1 id="cv" name="cv">
		<span class="menu">Peer Reviews</span>
	</h1>
  <div>
    {% include peerreviews.html %}
</div>	
	
  <h1 id="cv" name="cv">
		<span class="menu">Contact</span>
	</h1>
  <div>
    {% include cv.html %}
  </div>

</div>

