<ul class="icons">
  <p>
      University of British Columbia<br/>
      Faculty of Medicine<br/>
      Department of Physical Therapy<br/>
      Brain Behavior Laboratory<br/>
      212-2177 Wesbrook Mall<br/>
      Vancouver, BC<br/>
      V6T 1Z3 CANADA<br/>  
  </p>
  <BR/>
  <p style="padding-top:0.5rem">Feel free to contact me:<br/>
    - @UBC: <a href="mailto:matthieu.boisgontier@ubc.ca">matthieu.boisgontier@ubc.ca</a><br/>
    - @KU LEUVEN: <a href="mailto:matthieu.boisgontier@kuleuven.be">matthieu.boisgontier@kuleuven.be</a>
  </p>
</ul>
