<ul class="icons">
      
      2021–2026<br/>
      <b>152,500 CAD</b>, <a href="https://www.nserc-crsng.gc.ca/professors-professeurs/grants-subs/dgigp-psigp_eng.asp"> Discovery Grant</a><br/>
      Natural Sciences and Engineering Research Council (NSERC), Canada<br/>
      Principal Investigator<br/>
  <br/>    
      2021–2022<br/>
      <b>25,000 CAD</b>, <a href="https://www.bantingresearchfoundation.ca/research-funded/"> Discovery Award</a><br/>
      Banting Research Foundation, Canada<br/>
      Principal Investigator<br/>
  <br/>    
      2021<br/>
      <b>2,500 CAD</b>, <a href="https://health.uottawa.ca/research/funding"> Internal Grant: Operational Support</a><br/>
      University of Ottawa, Canada<br/>
      Principal Investigator<br/>
  <br/> 
      2018–2020<br/>
      <b>40,000 EUR</b>, <a href="http://www.fwo.be/en/fellowships-funding/research-grants/research-grant/"> Research Grant</a><br/>
      Scientific Fund for Research – Flanders (FWO), Belgium<br/>
      Principal Investigator<br/>
  <br/>
      2018<br/>
      <b>5,000 CAD</b>, Jakeway Neurorehabilitation Seed Fund<br/>
      University of British Columbia, Canada<br/>
      Co-Principal Investigator<br/>
  <br/>
      2017-2020<br/>
      <b>200,000 EUR</b>, <a href="http://www.fwo.be/en/fellowships-funding/postdoctoral-fellowships/senior-postdoctoral-fellowship/"> Senior Postdoctoral Fellowship</a><br/>
      Scientific Fund for Research – Flanders (FWO), Belgium<br/>
      Principal Investigator<br/>
  <br/>
      2017-2018<br/>
      <b>20,000 EUR</b>, <a href="http://www.fwo.be/en/fellowships-funding/international-mobility/outgoing/grant-for-a-long-stay-abroad/"> Travel Grant for a Long Stay Outside Europe</a><br/>
      Scientific Fund for Research – Flanders (FWO), Belgium<br/>
      Principal Investigator<br/>
  <br/>
      2016-2018<br/>
      <b>87,000 EUR</b>, Internal Fund</a><br/>
      University of Leuven, Belgium<br/>
      Co-Principal Investigator<br/>
 <br/>
      2015–2018<br/>
      <b>40,000 EUR</b>, <a href="http://www.fwo.be/en/fellowships-funding/research-grants/research-grant/"> Research Grant</a><br/>
      Scientific Fund for Research – Flanders (FWO), Belgium<br/>
      Principal Investigator<br/>
 <br/>
      2014-2017<br/>
      <b>190,000 EUR</b>, <a href="http://www.fwo.be/en/fellowships-funding/postdoctoral-fellowships/junior-postdoctoral-fellowship/"> Junior Postdoctoral Fellowship</a><br/>
      Scientific Fund for Research – Flanders (FWO), Belgium<br/>
 <br/>
      2009-2012<br/>
      <b>90,000 EUR</b>, Doctoral Fellowship<br/>
      French Ministry of Higher Education and Research, France<br/>
 <br/>
      2009<br/>
      <b>2,000 EUR</b>, Healthcare Professional Award<br/>
      SOFPEL: Société Francophone Posture Equilibre Locomotion, France<br/>
  <br/>
      2007-2008<br/>
      <b>10,000 USD</b>, Master's Scholarship<br/>
      Massachusetts General Hospital Institute of Health Professions, USA<br/>
 <br/>
      2006-2007<br/>
      <b>7,000 EUR</b>, Master's Scholarship<br/>
      French Ministry of Higher Education and Research, France<br/>

      
</ul>
