<ul class="icons">
      
      2023–2026<br/>
      <b>1,000,000 CAD</b>, <a href="https://www.innovation.ca/apply-manage-awards/funding-opportunities/john-r-evans-leaders-fund"> John Evans Leaders Fund (JELF)</a><br/>
      Canada Foundation for Innovation (CFI), Canada<br/>
      Principal Investigator<br/>
  <br/>    
      2021–2028<br/>
      <b>180,500 CAD</b>, <a href="https://www.nserc-crsng.gc.ca/professors-professeurs/grants-subs/dgigp-psigp_eng.asp"> Discovery Grant</a><br/>
      Natural Sciences and Engineering Research Council (NSERC), Canada<br/>
      Principal Investigator<br/>
  <br/>    
      2021–2023<br/>
      <b>25,000 CAD</b>, <a href="https://www.bantingresearchfoundation.ca/research-funded/"> Discovery Award</a><br/>
      Banting Research Foundation, Canada<br/>
      Principal Investigator<br/>
  <br/> 
      2018–2020<br/>
      <b>40,000 EUR</b>, <a href="http://www.fwo.be/en/fellowships-funding/research-grants/research-grant/"> Research Grant</a><br/>
      Scientific Fund for Research – Flanders (FWO), Belgium<br/>
      Principal Investigator<br/>
 <br/>
      2015–2018<br/>
      <b>40,000 EUR</b>, <a href="http://www.fwo.be/en/fellowships-funding/research-grants/research-grant/"> Research Grant</a><br/>
      Scientific Fund for Research – Flanders (FWO), Belgium<br/>
      Principal Investigator<br/>
      
</ul>
