<ul class="icons">
      <b>Haptic robot + 2D virtual/augmented reality display</b><a href="https://kinarm.com/solutions/kinarm-end-point-lab/">Height-adjustable Kinarm End-Point Lab</a><br/>
      <b>TMS</b>: <a href="https://www.magstim.com/product/magstim-bistim2/">Magstim BiStim2</a>, <a href="https://www.magstim.com/product/super-rapid²/">Magstim Super Rapid2</a><br/>
      <b>Neuronavigation</b>: <a href="https://www.rogue-research.com/tms/">Brainsight</a><br/>
      <b>Ergobike</b>: <a href="https://www.cosmed.com/en/products/ergometers">Cosmed Ergoline E100P</a><br/>
      <b>Eye tracker</b><br/>
      <b>Force plates</b> (2)<br/>
      <b>Accelerorometers</b>: <a href="https://theactigraph.com/actigraph-wgt3x-bt">Actigraph wGT3X-BT</a> (10)<br/>
      <b>EMG system</b>: (<a href="https://delsys.com/trigno/">Delsys Trigno</a>), EMG sensors, force sensors, electrocardiogram sensors
  </p>
</ul>
