<ul class="icons">
 <br/>   
      <b>Height-adjustable <a href="https://kinarm.com/solutions/kinarm-end-point-lab/">Kinarm End-Point Lab</a></b><br/>
      <b>Ergobike</b>: <a href="https://www.cosmed.com/en/products/ergometers">Cosmed Ergoline E100P</a>
      <b>Eye tracker</b><br/>
      <b>Force plates</b> (2)<br/>
      <b>Accelerorometers</b>: <a href="https://theactigraph.com/actigraph-wgt3x-bt">Actigraph wGT3X-BT</a> (10)
      <b>EMG system (<a href="https://delsys.com/trigno/">Delsys</a>) including EMG sensors, force sensors, and electrocardiogram sensors<br/>
      
    - </a><br/>
  </p>
</ul>
