<ul class="icons">
      2018<br/>
      <b><a href="https://www.nytimes.com/2018/09/26/well/move/are-we-wired-to-sit.html">New York Times</a> (USA)<br/>
      <b><a href="https://www.washingtonpost.com/news/morning-mix/wp/2018/09/21/you-really-really-want-to-go-to-the-gym-but-still-avoid-it-new-research-may-explain-why/?utm_term=.8d3da0b1b226">Washington Post</a> (USA)<br/>
      <b><a href="https://timesofindia.indiatimes.com/home/science/study-human-brains-are-wired-to-be-lazy/articleshow/65880755.cms">The Times of India</a> (India)<br/>
      <b><a href="https://veja.abril.com.br/saude/paradoxo-do-exercicio-o-motivo-pelo-qual-somos-tao-preguicosos/">Veja</a> (Brasil)<br/>
      <b><a href="https://www.thehindu.com/todays-paper/tp-in-school/are-our-brains-wired-to-be-lazy/article25043009.ece">The Hindu</a> (India)<br/>
      <b><a href="http://play.wradio.com.co/audio/3806441">W Radio</a> (Columbia)<br/>
      <b><a href="https://www.vesti.ru/doc.html?id=3062679"> Вести.Ru</a> (Russia)<br/>
      <b><a href="https://tg24.sky.it/salute-e-benessere/2018/09/19/pigrizia-esercizio-fisico-cervello.html">Sky tg24</a> (Italy)<br/>
      <b><a href="https://www.terra.com.br/vida-e-estilo/saude/somos-programados-para-sentir-preguica,9b28eeca949886a27fe27cfdaff4f69dcrywqbk1.html">Terra Brasil</a> (Brasil)<br/>
      <b><a href="https://indianexpress.com/article/lifestyle/health/why-some-people-dont-exercise-5384905/">The Indian Express</a> (India)<br/>
      <b><a href="https://www.bbc.com/mundo/deportes-45666583">BBC News Mundo</a> (UK)<br/>
      <b><a href="http://www.repubblica.it/salute/2018/10/03/news/muoversi_fa_bene_ma_siamo_programmati_per_essere_pigri-208045843/"> La Repubblica</a> (Italy)<br/> 
      <b><a href="https://noticieros.televisa.com/historia/por-que-no-quieres-hacer-ejercicio-ciencia/">Noticieros Televisa</a> (Mexico)<br/>
      <b><a href="https://www.dailymail.co.uk/sciencetech/article-6184411/Humans-hardwired-laziness-evolution-favours-conserving-energy.html?ito=social-twitter_mailonline">Daily Mail</a> (UK)<br/>
      <b><a href="https://www.bbc.com/portuguese/geral-45687833">BBC News</a> (Brasil)<br/>
      <b><a href="https://www.sabah.com.tr/saglik/2018/09/19/hareketsizlik-beyne-cazip-geliyor">Sabah</a> (Turkey)<br/>
      <b><a href="http://dnai.in/fFw9">DNA</a> (India)<br/>
      <b><a href="https://www.business-standard.com/article/news-ians/human-brains-are-naturally-attracted-to-laziness-study-118091900911_1.html">Business Standard</a> (India)<br/>
      <b><a href="https://www.nation.co.ke/lifestyle/health/Are-we-wired-to-be-physically-lazy/1954202-4779726-ia6xefz/index.html">Daily Nation</a> (Kenya)<br/>
      <b><a href="https://www.thestar.com/vancouver/2018/09/18/the-battle-against-your-inner-sloth-might-never-end-study.html">The Star</a> (Canada)<br/>
      <b><a href="http://www.slate.fr/story/167819/instinct-survie-evolution-cerveau-procrastination-manque-exercice-physique-mode-vie">Slate</a> (France)<br/>
      <b><a href="https://www.ctvnews.ca/health/thinking-about-exercising-puts-strain-on-brain-study-1.4100412"> CTV</a> (Canada)<br/>
      <b><a href="https://www.ctvnews.ca/video?clipId=1493141&playlistId=1.4100677&binId=1.810401&playlistPageNum=1&binPageNum=1#_gus&_gucid=&_gup=twitter&_gsc=WxPqiqL"> CTV</a> (Canada)<br/>
      <b><a href="http://www.lapresse.ca/sciences/medecine/201809/19/01-5197142-le-cerveau-prefere-la-sedentarite-a-lexercice-physique.php">La Presse</a> (Canada)<br/>
      <b><a href="https://www.financialexpress.com/lifestyle/science/feeling-too-lazy-to-hit-the-gym-blame-your-brain-say-scientists/1318784/">Financial Express</a> (India)<br/>
      <b><a href="https://www.wired.it/lifestyle/sport/2018/09/19/cervello-natura-pigro/?refresh_ce=">Wired</a> (Italy)<br/>
      <b><a href="https://www.larazon.es/sociedad/ciencia/el-cerebro-libra-una-batalla-para-que-hagamos-deporte-CF19940640">La Razon</a> (Spain)<br/>
      <b><a href="https://www.cbc.ca/news/canada/british-columbia/our-brains-are-hardwired-for-laziness-ubc-study-shows-1.4828474">CBC</a> (Canada)<br/>
      <b><a href="https://www.surreynowleader.com/trending-now/are-you-feeling-lazy-thats-ok-its-just-science/">Black Press</a> (Canada)<br/>
      <b><a href="https://komonews.com/news/newsradio/want-to-exercise-but-cant-get-off-the-couch-study-says-our-brains-are-wired-to-be-lazy">KOMO | Seattle</a> (USA)<br/>
      <b><a href="https://www.treehugger.com/health/are-humans-hardwired-laziness.html">Treehugger</a> (USA)<br/>
      <b><a href="https://www.vanityfair.it/benessere/salute-e-prevenzione/2018/09/27/pigrizia-ricerca-persone-pigre">Vanity Fair</a> (Italy)<br/>
      <b><a href="https://www.iol.co.za/lifestyle/health/human-brains-are-naturally-attracted-to-laziness-study-17176296">Independent Online</a> (South Africa)<br/>
      <b><a href="http://dailyhive.com/vancouver/ubc-study-human-laziness-2018">Daily Hive</a> (Canada)<br/>
      <b><a href="https://www.is.fi/taloussanomat/art-2000005833430.html"> Ilta-Sanomat</a> (Finland)<br/>
      <b><a href="https://www.sciencedaily.com/releases/2018/09/180918090849.htm">Science Daily</a> (USA)<br/>
      <b><a href="https://www.mdzol.com/mundo/Por-que-a-tantos-se-nos-hace-tan-dificil-ir-al-gimnasio-segun-la-ciencia-20180928-0030.html">MDZ online</a> (Argentina)<br/>
      <b><a href="https://www.elitedaily.com/p/heres-why-youre-not-motivated-to-work-out-despite-your-best-intentions-according-to-science-11976900">Elite Daily</a> (USA)<br/>
      <b><a href="https://minnesota.cbslocal.com/video/3938408-our-brains-are-wired-to-be-lazy">WCCO | CBS Minnesota</a> (USA)<br/>
      <b><a href="https://goodmenproject.com/featured-content/5-tips-to-get-over-your-laziness-tdmd/">The Good Men Project</a> (USA)<br/>
      <b><a href="https://boston.cbslocal.com/2018/10/01/study-brain-to-blame-for-not-wanting-to-exercise/#.W7L8Y9qwYvY.twitter">WBZ | CBS Boston News</a> Starting at 01:10 (USA)<br/>   
      <b><a href="https://psychcentral.com/news/2018/09/19/are-human-brains-hardwired-for-laziness/138821.html">Psych Central</a> (USA)<br/>
      <b><a href="https://www.elsiglodetorreon.com.mx/noticia/1503814.te-niegas-a-hacer-ejercicio-la-ciencia-te-explica-por-que.html">El Siglo de Torreón</a> (Mexico)<br/>
      <b><a href="https://www.vancouverisawesome.com/2018/09/18/ubc-study-lazy-people/">Vancouver is Awesome</a> (Canada)<br/>
      <b><a href="https://quebec.huffingtonpost.ca/2018/09/19/cerveau-sedentarite-exercices_a_23532568/">HuffPost</a> (Canada)<br/>
      <b><a href="https://bigthink.com/surprising-science/evolution-made-our-brains-lazy">Big Think</a> (USA)<br/>
      <b><a href="https://neurosciencenews.com/laziness-brain-activity-9883/">Neuroscience News</a> (USA)<br/>
      <b><a href="https://www.huffpostbrasil.com/2018/09/25/o-cerebro-tem-uma-atracao-inata-para-preguica-e-o-que-podemos-fazer-para-mudar-isso_a_23541349/">HuffPost</a> (Brasil)<br/>
      <b><a href="https://www.tdg.ch/geneve/actu-genevoise/loi-moindre-effort-inscrite/story/24033409">La Tribune de Genève</a> (Switzerland)<br/>
      <b><a href="https://www.medicalnewstoday.com/articles/323203.php?utm_source=">Medical News Today</a> (UK)<br/>
      <b><a href="https://www.sciencealert.com/your-brain-is-hardwired-to-do-this-physical-activity-laziness-sedentary-behaviour">Science Alert</a> (Australia)<br/>
      <b><a href="https://notizie.tiscali.it/scienza/articoli/cervello-programmato-pigrizia/">TiscaliNews</a> (Italy)<br/>
      <b><a href="https://www.rmf24.pl/nauka/news-nasz-mozg-jest-zaprogramowany-na-lenistwo,nId,2633525">RMF24</a> (Poland)<br/>
      <b><a href="https://www.660citynews.com/2018/09/19/new-study-says-human-brain-lazy/">660News | Calgary</a> (Canada)<br/>
      <b><a href="https://www.krem.com/article/news/health/study-your-brain-may-be-connected-to-laziness/599258076">KREM 2 News | Washington</a> (USA)<br/>
      <b><a href="https://elcomercio.pe/tecnologia/ciencias/dificil-gimnasio-ciencia-noticia-562203">El Comercio</a> (Peru)<br/>
      <b><a href="http://en.reporterlive.com/2018/09/21/brains-are-wired-to-be-lazy-study/">Reporter</a> (India)<br/>
      <b><a href="https://ici.radio-canada.ca/premiere/emissions/les-eclaireurs/episodes/417060/audio-fil-du-mercredi-3-octobre-2018/4">ICI RC Premiere | Les éclaireurs</a> (Canada)<br/>
      <b><a href="https://bilimveutopya.com.tr/tembellige-mi-programliyiz-testler-miskinlikten-kacinmamiz-icin-beynimizin-daha-fazla-calismasi">Bilim ve Ütopya</a> (Turkey)<br/>
      <b><a href="https://www.indiatimes.com/health/healthyliving/why-is-it-so-hard-to-go-exercise-is-one-of-the-most-asked-questions-on-google-here-s-why-353897.html">Indiatimes</a> (India)<br/>
      <b><a href="https://www.cbc.ca/listen/shows/as-it-happens/episode/15602486">CBC | As It Happens</a> Starting at 19:10 (Canada)<br/>
      <b><a href="https://www.lebonbon.fr/paris/societe/pas-le-courage-d-aller-runner-cette-etude-va-vous-deculpabiliser/">Le Bonbon</a> (France)<br/>
      <b><a href="https://diepresse.com/home/science/5502580/Mit-Bewegung-an-Bewegung-denken">Die Presse</a> (Austria)<br/>
      <b><a href="https://www.slashgear.com/humans-may-be-hardwired-for-laziness-according-to-new-study-18546340/">Slash Gear</a> (USA)<br/>
      <b><a href="http://ozfm.com/a-new-study-explains-why-people-avoid-going-to-the-gym/">OZFM</a> (Canada)<br/>
      <b><a href="https://www.eurekalert.org/pub_releases/2018-09/uobc-hfl091718.php">EurekAlert!</a> (USA)<br/>
      <b><a href="https://www.pb.pl/mozg-czlowieka-z-natury-jest-leniwy-940918">Puls Biznesu</a> (Poland)<br/>
      <b><a href="https://www.businesstimes.com.sg/life-culture/are-we-wired-to-sit">The Business Times</a> (Singapore)<br/>
      <b><a href="https://www.huffingtonpost.gr/entry/tha-charakterizate-ton-eaeto-sas-tempele-to-soma-sas-prospathei-na-sas-pei-kati_gr_5ba4f351e4b069d5f9d22757">HuffPost</a> (Greece)<br/>
      <b><a href="http://www.welingelichtekringen.nl/wetenschap/844596/ben-je-best-wel-lui-daar-kun-je-je-hersenen-de-schuld-van-geven.html">Welingelichte Kringen</a> (Netherlands)<br/>
      <b><a href="https://ca.news.yahoo.com/people-prefer-being-lazy-because-220000905.html">Yahoo News</a> (Canada)<br/>
      <b><a href="https://es.noticias.yahoo.com/descubren-por-que-nos-cuesta-tanto-ir-al-gimnasio-pesar-de-estar-convencidos-185601757.html">Yahoo Actualidad</a> (Spain)<br/>
      <b><a href="http://ciclovivo.com.br/vida-sustentavel/equilibrio/evitar-preguica-trabalho-cerebro-pesquisa/">CicloVivo</a> (Brasil)<br/>
      <b><a href="https://www.medicaldaily.com/laziness-can-be-blamed-brains-inherent-tendencies-study-shows-427572">Medical Daily</a> (USA)<br/>
      <b><a href="http://www.iheartradio.ca/cfax-1070?mode=Article&autoplay=1.8449644">CFAX1070 </a> (Canada)<br/>
      <b><a href="https://tonic.vice.com/en_us/article/pa8gmk/when-you-give-an-octopus-mdma-they-become-unusually-touchy-feely?utm_campaign=sharebutton">Tonic | VICE</a> (USA)<br/>
      <b><a href="https://www.theloop.ca/ctvnews/thinking-about-exercising-puts-strain-on-brain-study/">The Loop</a> (Canada)<br/>
      <b><a href="https://dennikn.sk/1241744/velmi-chcete-ist-do-posilnovne-no-aj-tak-si-to-napokon-rozmyslite-nova-studia-vysvetluje-preco/"> Denník N</a> (Slovakia)<br/>  
      <b><a href="https://omny.fm/shows/the-morning-news-with-gord-gillies/humans-are-hardwired-to-sloth-says-ubc-study">770 CHQR | Global News</a> (Canada)<br/>
      <b><a href="http://eju.tv/2018/09/si-realmente-quieres-ir-al-gimnasio-por-que-siempre-inventas-excusas-para-no-hacerlo/">Eju!</a> (Bolivia)<br/>
      <b><a href="https://medium.com/the-mission/explore-more-d7d7ee0dd6ef">Medium | The Mission</a> (USA)<br/>
      <b><a href="http://natgeobloggen.no/2018/09/24/ny-studie-viser-at-hjernen-er-programmert-til-a-foretrekke-latskap/">National Geographic</a> (Norway)<br/>
      <b><a href="http://naukawpolsce.pap.pl/aktualnosci/news%2C31051%2Cnaukowcy-mozg-czlowieka-z-natury-jest-leniwy.html"> Nauka w Polsce</a> (Polska)<br/> 
      <b><a href="http://www.ansa.it/canale_saluteebenessere/notizie/medicina/2018/09/19/essere-attivi-e-difficile-il-cervello-e-programmato-per-la-pigrizia_195a7b6c-bda7-4357-9e74-8fbb3cc54d92.html">ANSA</a> (Italy)<br/>
      <b><a href="https://www.bizjournals.com/bizwomen/news/latest-news/2018/09/cant-get-off-the-couch-blame-your-brain.html">Biz Women</a> (USA)<br/>
      <b><a href="https://www.mindfood.com/nz/article/why-being-a-couch-potato-comes-so-naturally/">Mind Food</a> (Australia)<br/>
      <b><a href="https://www.cbc.ca/listen/shows/ontario-morning-from-cbc-radio/episode/15601495">CBC | Ontario Morning</a> (Canada)<br/>
      <b><a href="http://www.kabc.com/2018/09/21/study-humans-are-hardwired-to-be-lazy/">KABC | Los Angeles</a> (USA)<br/>
      <b><a href="http://www.radioangulo.cu/especiales/235061-descubren-por-que-nos-cuentas-tanto-ir-al-gimnasio">Radio Angulo</a> (Cuba)<br/>
      <b><a href="http://soha.vn/ly-giai-nghich-ly-ai-cung-biet-ngoi-nhieu-la-co-hai-ma-sao-van-khong-chiu-tap-the-duc-201809222113445.htm">Soha</a> (Vietnam)<br/>
      <b><a href="https://www.ettoday.net/dalemon/post/38805">ETtoday</a> (Taiwan)<br/>
      <b><a href="https://noticiasdelaciencia.com/art/30041/nuestro-cerebro-esta-estructurado-para-que-la-holgazaneria-sea-la-tendencia-preferente">Amazings - NCYT</a> (Spain)<br/>
      <b><a href="https://www.agoravox.it/Vi-sentite-pigri-Forse-non-e-colpa.html">AgoraVox</a> (Italy)<br/>
      <b><a href="https://www.enn.com/articles/55487-hardwired-for-laziness-tests-show-the-human-brain-must-work-hard-to-avoid-sloth">ENN Environmental News Network</a> (USA)<br/>
      <b><a href="https://pl.aleteia.org/2018/09/25/naukowcy-odkryli-skad-wzielo-sie-lenistwo/">Aleteia</a> (Poland)<br/>
      <b><a href="https://tendaily.com.au/shows/theproject/news/a180920eky/just-thinking-about-exercising-is-exhausting-for-our-brains-20180920">Ten Daily</a> (Australia)<br/>
      <b><a href="https://www.mtv.fi/lifestyle/hyvinvointi/artikkeli/olitko-menossa-kuntosalille-mutta-jaitkin-sohvalle-makaamaan-tutkimus-selvitti-mika-todella-on-liikunnan-valttelemisen-syy/7090332#gs.hc7LCXI">MTV</a> (Finland)<br/>
      <b><a href="https://www.aldergrovestar.com/trending-now/are-you-feeling-lazy-thats-ok-its-just-science/">Aldergrove Star</a> (Canada)<br/>
      <b><a href="https://www.chillizet.pl/Zdrowie/Psychologia/Jestes-leniwy-To-dobrze-Nowa-rewolucyjna-teoria-naukowcow-11377">Chillizet</a> (Poland)<br/>
      <b><a href="https://coach.nine.com.au/2018/09/19/11/10/why-youre-so-lazy-blame-evolution">Nine</a> (Australia)<br/>
      <b><a href="http://www.rcinet.ca/es/2018/09/21/es-perezoso-su-cerebro-tiene-la-culpa/">Radio Canadá Internacional</a> (Canada)<br/>
      <b><a href="https://ici.radio-canada.ca/premiere/emissions/phare-ouest/segments/entrevue/87632/cerveau-humain-plus-enclin-a-la-paresse">ICI Première / Radio-Canada (Phare Ouest)</a> (Canada)<br/>
      <b><a href="https://greatlakesledger.com/2018/09/19/ubc-study-shows-humans-are-lazy-but-its-the-brains-fault/">Great Lakes Ledger</a> (Canada)<br/>
 </ul>























