<ul class="icons">
      2018<br/>
      <b><a href="https://www.nytimes.com/2018/09/26/well/move/are-we-wired-to-sit.html">New York Times</a> (USA)<br/>
      <b><a href="https://www.washingtonpost.com/news/morning-mix/wp/2018/09/21/you-really-really-want-to-go-to-the-gym-but-still-avoid-it-new-research-may-explain-why/?utm_term=.8d3da0b1b226">Washington Post</a> (USA)<br/>
      <b><a href="https://www.dailymail.co.uk/sciencetech/article-6184411/Humans-hardwired-laziness-evolution-favours-conserving-energy.html?ito=social-twitter_mailonline">Daily Mail</a> (UK)<br/>
      <b><a href=" https://timesofindia.indiatimes.com/home/science/study-human-brains-are-wired-to-be-lazy/articleshow/65880755.cms">The Times of India</a> (India)<br/>
      <b><a href=" https://veja.abril.com.br/saude/paradoxo-do-exercicio-o-motivo-pelo-qual-somos-tao-preguicosos/">Veja</a> (Brasil)<br/>

            
            </ul>
  
  
