<ul class="icons">
      2018<br/>
      <b><a href="https://www.nytimes.com/2018/09/26/well/move/are-we-wired-to-sit.html">New York Times</a><br/>
  <br/>
      <b><a href="https://www.washingtonpost.com/news/morning-mix/wp/2018/09/21/you-really-really-want-to-go-to-the-gym-but-still-avoid-it-new-research-may-explain-why/?utm_term=.8d3da0b1b226">Washington Post</a><br/>
  <br/>
      <b><a href="https://www.dailymail.co.uk/sciencetech/article-6184411/Humans-hardwired-laziness-evolution-favours-conserving-energy.html?ito=social-twitter_mailonline    
            </ul>">Daily Mail</a><br/>
  <br/>
