{% assign pubs = site.data.publications | reverse %}

<h2>Book</h2>
<ul class="item">
  <li class="item">Cheval B, <u>Boisgontier M</u> (2020).
    <span class="title"><b>Le syndrome du paresseux: Petit précis pour combattre notre inactivité physique.</b> Ed. Dunod. ISBN: <a href="https://www.dunod.com/sciences-humaines-et-sociales/syndrome-du-paresseux-petit-precis-pour-combattre-notre-inactivite">210080197X</a></span><br/>
    "Documenté, concret, écrit d'une plume limpide et enjouée, leur ouvrage est la lecture idéale pour s'y (re)mettre" <i>Cerveau & Psycho</i>
  </li>
</ul>

<h2>Physical Effort Scale (PES)</h2>
<ul class="item">
  <li class="item">Cheval B, Maltagliati S, Courvoisier DS, Marcora S, <u>Boisgontier MP</u>.
    <span class="title"><b>Physical Effort Scale (PES) – Manual</b>, 2024 - (English and French versions). <a href="http://matthieuboisgontier.com/doc/publication/2018/01/Physical Effort Scale - PES.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
  </li>
</ul>

      
<h2>Articles</h2>
<ul class="cv">
  
  {% for pub in pubs %}
    {% if pub.type == 'journal2' %}
    <li class="cv">
      <div style="float:right;clear:both">
        <a href="https://plu.mx/plum/a/?doi={% if pub.doi %}{{ pub.doi }}{% endif %}" data-popup="right" data-size="medium" class="plumx-plum-print-popup plum-bigben-theme" data-site="plum" data-hide-when-empty="false" data-pass-hidden-categories="true"></a>
      </div>   
      {{ pub.authors }}.<br/>
      {{ pub.title }}.<br/> 
      
      {% if pub.journal %}
        <b>{{ pub.journal }}</b> 
        {% if pub.status %}
          <b>{{ pub.status }}</b>
        {% else %}
          <b>{{pub.date | date: "%Y"}}</b>{% if pub.pageinfo %}, <i>{{ pub.pageinfo }}.</i>{% endif %}
            {% if pub.doi %}doi: {{ pub.doi }}{% endif %}
        {% endif %} 
      {% endif %}
      
      <span class="small-icons">
        {% if pub.biorxiv %}
          <a href="{{ pub.biorxiv }}" title="bioRxiv"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
        {% endif %}
        
        {% if pub.osf %}
          <a href="//osf.io/{{ pub.osf }}"  title="OSF"><i class="ai ai-osf" aria-hidden="true"></i></a>
        {% endif %}

        {% if pub.comments %}
          <a href="{{ pub.comments }}" title="comments"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
        {% endif %}

        {% if pub.doi %}
          <a href="//dx.doi.org/{{ pub.doi }}" title="DOI"><i class="ai ai-doi" aria-hidden="true"></i></a>
        {% endif %}
        
        {% if pub.github %}
        <a href="//github.com/{{ pub.github }}" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
        {% endif %}

        {%if pub.pdf %}
          <a href="{{ pub.pdf }}" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        {% endif %}
      </span>

      <!--{% if pub.slides %}
      <p style="margin-top:0.25em">
        <b>Slides</b>: {{ pub.slides.authors }} ({{ pub.slides.year }}): <a href="//dx.doi.org/{{ pub.slides.doi }}">{{ pub.slides.title }}</a>. figshare. doi: <a href="//dx.doi.org/{{ pub.slides.doi }}">{{ pub.slides.doi }}</a>.
      </p>
      {% endif %} -->
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Preprints</h2>
<ul class="cv">

  {% for pub in pubs %}
    {% if pub.type == 'journal1' %}
    <li class="cv">      
      <div style="float:right;clear:both">
        <a href="https://plu.mx/plum/a/?doi={% if pub.doi %}{{ pub.doi }}{% endif %}" data-popup="right" data-size="medium" class="plumx-plum-print-popup" data-site="plum" data-hide-captures="true"></a>
      </div>   
      {{ pub.authors }}.<br/>
      {{ pub.title }}.<br/>
      
      {% if pub.journal %}
        <b>{{ pub.journal }}</b> 
        {% if pub.status %}
          <b>{{ pub.status }}</b>
        {% else %}
          <b>{{pub.date | date: "%Y"}}</b>{% if pub.pageinfo %}, <i>{{ pub.pageinfo }}.</i>{% endif %} 
            {% if pub.doi %}doi: {{ pub.doi }}{% endif %}
        {% endif %}
      {% endif %}

      <span class="small-icons">
        {% if pub.biorxiv %}
          <a href="{{ pub.biorxiv }}" title="bioRxiv"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
        {% endif %}

        {% if pub.sportrxiv %}
          <a href="{{ pub.sportrxiv }}" title="sportRxiv"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
        {% endif %}
        
        {% if pub.comments %}
          <a href="{{ pub.comments }}" title="comments"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
        {% endif %}

        {% if pub.doi %}
          <a href="//dx.doi.org/{{ pub.doi }}" title="DOI"><i class="ai ai-doi" aria-hidden="true"></i></a>
        {% endif %}
        
        {% if pub.osf %}
          <a href="//osf.io/{{ pub.osf }}"  title="OSF"><i class="ai ai-osf" aria-hidden="true"></i></a>
        {% endif %}

        {%if pub.pdf %}
          <a href="{{ pub.pdf }}" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        {% endif %}
      </span>

      <!--{% if pub.slides %}
      <p style="margin-top:0.25em">
        <b>Slides</b>: {{ pub.slides.authors }} ({{ pub.slides.year }}): <a href="//dx.doi.org/{{ pub.slides.doi }}">{{ pub.slides.title }}</a>. figshare. doi: <a href="//dx.doi.org/{{ pub.slides.doi }}">{{ pub.slides.doi }}</a>.
      </p>
      {% endif %} -->
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Acknowledged Contributions</h2>
<ul class="cv">

  {% for pub in pubs %}
    {% if pub.type == 'contribution' %}
    <li class="cv">      
      <div style="float:right;clear:both">
        <a href="https://plu.mx/plum/a/?doi={% if pub.doi %}{{ pub.doi }}{% endif %}" data-popup="right" data-size="medium" class="plumx-plum-print-popup" data-site="plum" data-hide-captures="true"></a>
      </div>   
      {{ pub.authors }}.<br/>
      {{ pub.title }}.<br/>
      
      {% if pub.journal %}
        <b>{{ pub.journal }}</b> 
        {% if pub.status %}
          <b>{{ pub.status }}</b>
        {% else %}
          <b>{{pub.date | date: "%Y"}}</b>{% if pub.pageinfo %}, <i>{{ pub.pageinfo }}.</i>{% endif %} 
            {% if pub.doi %}doi: {{ pub.doi }}{% endif %}
        {% endif %}
      {% endif %}

      <span class="small-icons">
        {% if pub.biorxiv %}
          <a href="{{ pub.biorxiv }}" title="bioRxiv"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
        {% endif %}

        {% if pub.comments %}
          <a href="{{ pub.comments }}" title="comments"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
        {% endif %}

        {% if pub.doi %}
          <a href="//dx.doi.org/{{ pub.doi }}" title="DOI"><i class="ai ai-doi" aria-hidden="true"></i></a>
        {% endif %}

        {%if pub.pdf %}
          <a href="{{ pub.pdf }}" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        {% endif %}
      </span>

      <!--{% if pub.slides %}
      <p style="margin-top:0.25em">
        <b>Slides</b>: {{ pub.slides.authors }} ({{ pub.slides.year }}): <a href="//dx.doi.org/{{ pub.slides.doi }}">{{ pub.slides.title }}</a>. figshare. doi: <a href="//dx.doi.org/{{ pub.slides.doi }}">{{ pub.slides.doi }}</a>.
      </p>
      {% endif %} -->
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Theses</h2>
<ul class="item">
  <li class="item"><u>Boisgontier MP</u> (2012).
    <span class="title"><a href="https://tel.archives-ouvertes.fr/tel-00767572v2/document">Effets de contraintes musculaire, cognitive et temporelle sur le contrôle proprioceptif des mouvements de la cheville chez les adules jeunes et âgés.</a> <b>PhD Thesis</b></span>.
  </li>
  <br/>
  <li class="item"><u>Boisgontier MP</u> (2019).
    <span class="title">Solving the exercise paradox: A neuro-behavioral approach. <b>Habilitation</b></span>.
    <a href="http://matthieuboisgontier.com/doc/publication/2018/01/boisgontier_HDR.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
   </li>
</ul>
