<p> <img src="/images/favicons/photo_sites_jpeg.jpg">
  <p>
    Matt is a neuroscientist, a kinesiologist, and a physiotherapist.
    He achieved a PhD from the University of Grenoble in 2012 (France).
    Then, he did a 6-year postdoc at Leuven University (Belgium) including a 1-year visit at the University of British Columbia (Canada), both supported by the Research Foundation - Flanders (<a href="https://www.fwo.be/en/">FWO</i></a>). Since 2015, he has been collaborating with the University of Geneva (Switzerland).   </p>
</p>
