<p> <img src="/images/favicons/mstile-144x144.png">
  <p>
    <b>Hello!</b><br/>
    My name is Matt Boisgontier and I am a neuroscientist, a kinesiologist, and a physiotherapist.
    I achieved a PhD from the University of Grenoble in 2012 (France).
    Then, I did a 5-year posdoc at Leuven University (Belgium) and a 1-year postdoc at the University of British Columbia (Canada), both supported by the Research Foundation - Flanders (FWO).
    I am passionnate about physical activity and how the brain works but am always happy to work on other topics.
    I aim to do open, robust, and replicable science, and to collaborate with clever researchers who are also good people. I also do my best to support open-science practices and am a proud stearing member at SportRχiv.<br/>
   </p>
</p>
