<p> <img src="/images/favicons/photo_sites_jpeg.jpg">
  <p>
    Matthieu Boisgontier is a professor at the <a href="https://health.uottawa.ca">Faculty of Health Sciences, University of Ottawa</a> and a principal investigator at the <a href="https://www.bruyere.org/en/bruyere-research-institute">Bruyere Research Institute</a>, Canada. 
    Passionate about the neuroscience of physical inactivity and sensorimotor control,
    his education includes master’s degrees in Physical Therapy, Kinesiology, and Engineering at the Université Grenoble Alpes (France). 
    He graduated his PhD in Neuroscience at the National Center for Scientific Research (CNRS, France) with a focus on aging, 
    which was one of the topics of his postdoctorate at KU Leuven (Belgium).
  </p>
</p>
