Even if there is no positions advertised here, applications are always welcome and encouraged. <br/><br/>
Je suis notamment ouvert à considérer des <b>candidatures pour un doctorat</b>. Notre faculté en propose en français et en anglais. <br/>
Il y a la possibilité de le faire le doctorat en présentiel (plutôt orienté neuroscience) ou en distanciel (plutôt orienté metascience et science ouverte, ou encore sur des bases de données publiques telles que CLSA ou SHARE, mais il vous faudra des compétences de coding déjà acquises.<br/> 
Informations sur le doctorat : https://www.uottawa.ca/faculte-sciences-sante/readaptation/nos-programmes/doctorat-en-philosophie-sciences-de-la-readaptation<br/>
Pour les financements du doctorat, il y a:
La <b>bourse d'admission</b> : https://www.uottawa.ca/etudes/etudes-superieures/financement/prix/bourse-admission
La <b>bourse doctorale internationale</b> : https://www.uottawa.ca/etudes/etudes-superieures/financement/prix/bourse-doctorale-internationale
La date limite de la demande d'admission est le <b>1er février</b> mais si vous êtes un.e étudiant.e international.e, il faut qu'on s'y prenne avant.
