Even if there is no positions advertised here, applications are always welcome and encouraged. <br/><br/>
Je suis notamment ouvert à considérer des <b>candidatures pour un doctorat</b>. Notre faculté en propose en français et en anglais. <br/>
Il y a la possibilité de faire le doctorat en présentiel (orienté neuroscience et activité physique) ou en distanciel (orienté metascience et science ouverte ou sur des bases de données publiques telles que CLSA ou SHARE, mais il vous faudra des compétences de coding déjà acquises).<br/> 
Pour des informations plus spécifiques sur le doctorat, vous pouvez aller <a href="https://www.uottawa.ca/faculte-sciences-sante/readaptation/nos-programmes/doctorat-en-philosophie-sciences-de-la-readaptation">ici</a><br/><br/>
Pour les <b>financements</b> du doctorat, il y a:<br/>
La <a href="https://www.uottawa.ca/etudes/etudes-superieures/financement/prix/bourse-admission"> bourse d'admission</a><br/>
La <a href="https://www.uottawa.ca/etudes/etudes-superieures/financement/prix/bourse-doctorale-internationale"> bourse doctorale internationale</a><br/><br/>
La date limite de la demande d'admission est le <b>1er février</b> mais si vous êtes un.e étudiant.e international.e, il faut qu'on s'y prenne avant.
