<h2>We are always looking for great people</h2>
There may be some specific positions below but interested people are always encouraged to send along a CV and a statement of your research interests and how our lab can help get you to where you want to be.<br/>
<b>PhD student</b>: Physical Inactivity, Neuroscience, & Rehabilitation (starting 2021)<br/>
<a href="http://matthieuboisgontier.com/doc/publication/2018/01/PhD_PhysicalActivity-Neuro-Rehab.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a><br/> 
