<h2>Projects</h2>
1- United States - Israel Binational Science Foundation (BSF; 2018; 150,000 USD)<br/>
2- Fonds de Recherche du Québec – Nature et Technologies (FRQ-NT; 2018; 20,000 CAD)<br/>

<br/>

<h2>Articles</h2> (# reviews):<br/>
Neuroscience and Biobehavioral Reviews (1);
Sports Medicine (1);
Human Brain Mapping (5);
The Journals of Gerontology: Series A Biological Sciences and Medical Sciences (1); 
Neurorehabilitation and Neural Repair (1);
Neurobiology of Aging (3);
Medicine & Science in Sports & Exercise (1);
Scientific Reports (2);
IEEE Transactions on Neural Systems and Rehabilitation Engineering (2);
Journal of NeuroEngineering and Rehabilitation (2);
Clinical Neurophysiology (2);
Frontiers in Aging Neuroscience (10);
Gerontology (1); Frontiers in Neurology (1);
Journal of Applied Physiology (1);
Experimental Gerontology (2);
Frontiers in Behavioral Neuroscience (1);
Brain Research (1)
Archives of Physical Medicine and Rehabilitation (1);
Frontiers in Human Neuroscience (1);
European Journal of Public Health (3);
Plos One (11);
Journal of Sports Sciences (2);
Journal of Neuroscience Methods (5); 
Reviews in the Neurosciences (1);
Physical Therapy (5);
Brain and Cognition (1);
Cognition & Emotion (2);
Clinical Interventions in Aging (3);
Journal of Neurophysiology (20);
International Journal of Sports Medicine (10);
European Journal of Applied Physiology (2);
1 Psychology and Aging (1);
1 Journal of Experimental Psychology: Human Perception and Performance (1);
12 Gait & Posture (12);
3 Neuroscience Letters (3);
1 Parkinson's Disease (1);
2 Frontiers in Psychology (2);
1 BMC Musculoskeletal Disorders (1);
2 The Knee (2);
1 International Journal of Neuroscience (1);
3 Journal of Sport Rehabilitation (3);
11 Experimental Brain Research (11);
5 Journal of Motor Behavior (5);
1 Experimental Aging Research (1);
Annals of Physical and Rehabilitation Medicine (1);
GeroScience (1).

