<h2>Projects</h2>
1- United States - Israel Binational Science Foundation (<b>BSF</b>; 2018; 150,000 USD)<br/>
2- Fonds de Recherche du Québec – Nature et Technologies (<b>FRQ-NT</b>; 2018; 20,000 CAD)<br/>

<br/>

<h2>Articles (n = 157)</h2>
<b>Annals of Physical and Rehabilitation Medicine</b> (1);
<b>Archives of Physical Medicine and Rehabilitation</b> (1);
<b>BMC Musculoskeletal Disorders</b> (1);
<b>Brain and Cognition</b> (1);
<b>Brain Research</b> (1);
<b>Clinical Interventions in Aging</b> (3);
<b>Clinical Neurophysiology</b> (2);
<b>Cognition & Emotion</b> (2);
<b>European Journal of Applied Physiology</b> (2);
<b>European Journal of Public Health</b> (5);
<b>Experimental Aging Research</b> (1);
<b>Experimental Brain Research</b> (11);
<b>Experimental Gerontology</b> (2);
<b>Frontiers in Aging Neuroscience</b> (10);
<b>Frontiers in Behavioral Neuroscience</b> (1);
<b>Frontiers in Human Neuroscience</b> (1);
<b>Frontiers in Neurology</b> (1);
<b>Frontiers in Psychology</b> (2);
<b>Gait & Posture</b> (12);
<b>Gerontology</b> (1);
<b>GeroScience</b> (1);
<b>Human Brain Mapping</b> (5);
<b>IEEE Transactions on Neural Systems and Rehabilitation Engineering</b> (2);
<b>International Journal of Neuroscience</b> (1);
<b>International Journal of Sports Medicine</b> (10);
<b>Journal of Applied Physiology</b> (1);
<b>Journal of Experimental Psychology: Human Perception and Performance</b> (2);
<b>Journal of Motor Behavior</b> (6);
<b>Journal of NeuroEngineering and Rehabilitation</b> (2);
<b>Journal of Neurophysiology</b> (21);
<b>Journal of Neuroscience Methods</b> (5); 
<b>Journal of Sport Rehabilitation</b> (3);
<b>Journal of Sports Sciences</b> (2);
<b>Journals of Gerontology: Series A Biological Sciences and Medical Sciences</b> (1);
<b>Medicine & Science in Sports & Exercise</b> (1);
<b>Neurobiology of Aging</b> (3);
<b>NeuroImage</b> (1);
<b>Neurorehabilitation and Neural Repair</b> (1);
<b>Neuroscience and Biobehavioral Reviews</b> (1);
<b>Neuroscience Letters</b> (3);
<b>Parkinson's Disease</b> (1);
<b>Physical Therapy</b> (5);
<b>Plos One</b> (11);
<b>Psychology and Aging</b> (1);
<b>Reviews in the Neurosciences</b> (1);
<b>Scientific Reports</b> (2);
<b>Sports Medicine</b> (1);
<b>The Knee</b> (2).
