<h2>Contributions to nonprofit organizations</h2>
<b>Founder</b>: <a href="https://healthmovsci.peercommunityin.org/about/about">Peer Community in Health & Movement Sciences</a> (2022)<br/>
<b>Co-chair</b>: <a href="http://storkinesiology.org">Society for Transparency, Openness, and Replication in Kinesiology (STORK)</a><br/>

<br/>

<h2>Editorial Contributions</h2>
<b>Editor in Chief</b>: <a href="http://storkjournals.org">Communications in Kinesiology</a> (2022-2023)<br/>
<b>Associate Editor</b>: <a href="https://rehab-journal.com/index.php/home/index">European Rehabilitation Journal</a> (2021-present)<br/>
<b>Associate Editor</b>: <a href="http://www.ac-psych.org/en/home">Advances in Cognitive Psychology</a> (2019-present)<br/>
<b>Section Editor</b>: <a href="http://storkjournals.org">Communications in Kinesiology</a> (2019-2021)<br/>
<b>Steering Board Member</b>: <a href="http://sportrxiv.org">SportRxiv</a> (2018-2019)<br/>  

<br/>

<h2>Project peer-reviews</h2>
10- Natural Sciences and Engineering Research Council, Canada (<b>NSERC</b>; 2022; €200,000)<br/>
9- International Research Infrastructure, Research Foundation Flanders, Belgium (<b>FWO</b>; 2022; €3,000,000)<br/>
8- Mitacs Accelerate, Canada (<b>Mitacs</b>; 2022; $120,000)<br/>
7- National Fund for Scientific Research, Belgium (<b>FNRS</b>; 2022; €100,000)<br/>
6- Canadian Institutes of Health Research, CIHR Fellowships committee, Canada (<b>CIHR</b>; 2021-2022; $150,000 x 8)<br/>
5- German Aerospace Center, Germany (<b>DLR</b>; 2021; €460,000)<br/>
4- Marie Skłodowska-Curie Actions, European Commission (<b>MSCA</b>; 2021; €150,000)<br/>
3- National Fund for Scientific Research, Belgium (<b>FNRS</b>; 2020; €300,000)<br/>
2- United States - Israel Binational Science Foundation, USA (<b>BSF</b>; 2018; $150,000)<br/>
1- Fonds de Recherche du Québec – Nature et Technologies, Canada (<b>FRQ-NT</b>; 2018; $20,000)<br/>

<br/>

<h2>Article peer-reviews (n > 215)</h2>
<b>Annals of Physical and Rehabilitation Medicine</b> (1);
<b>Archives of Physical Medicine and Rehabilitation</b> (1);
<b>BMC Musculoskeletal Disorders</b> (1);
<b>BMJ Open</b> (2);
<b>Brain and Cognition</b> (1);
<b>Brain Research</b> (1);
<b>Clinical Interventions in Aging</b> (3);
<b>Clinical Neurophysiology</b> (2);
<b>Cognition & Emotion</b> (2);
<b>European Journal of Applied Physiology</b> (2);
<b>European Journal of Neuroscience</b> (7);
<b>European Journal of Public Health</b> (6);
<b>European Rehabilitation Journal</b> (1);
<b>European Review of Aging and Physical Activity</b> (2);
<b>Experimental Aging Research</b> (1);
<b>Experimental Brain Research</b> (15);
<b>Experimental Gerontology</b> (4);
<b>Frontiers in Aging Neuroscience</b> (10);
<b>Frontiers in Behavioral Neuroscience</b> (1);
<b>Frontiers in Human Neuroscience</b> (1);
<b>Frontiers in Neurology</b> (1);
<b>Frontiers in Psychology</b> (3);
<b>Gait & Posture</b> (14);
<b>Gerontology</b> (1);
<b>GeroScience</b> (1);
<b>Health & Place</b> (2);
<b>Human Brain Mapping</b> (6);
<b>IEEE Transactions on Neural Systems and Rehabilitation Engineering</b> (2);
<b>International Journal of Geriatric Psychiatry</b> (2);
<b>International Journal of Neuroscience</b> (1);
<b>International Journal of Sports Medicine</b> (10);
<b>Journal of Applied Physiology</b> (1);
<b>Journal of Experimental Psychology: Human Perception and Performance</b> (2);
<b>Journal of Motor Behavior</b> (6);
<b>Journal of Motor Learning & Development</b> (2);
<b>Journal of NeuroEngineering and Rehabilitation</b> (2);
<b>Journal of Neurophysiology</b> (24);
<b>Journal of Neuroscience Methods</b> (5); 
<b>Journal of Physical Activity and Health</b> (2); 
<b>Journal of Physiology</b> (2); 
<b>Journal of Sport Rehabilitation</b> (3);
<b>Journal of Sports Sciences</b> (6);
<b>Journals of Gerontology: Series A Biological Sciences and Medical Sciences</b> (1);
<b>Medicine & Science in Sports & Exercise</b> (1);
<b>Neurobiology of Aging</b> (4);
<b>NeuroImage</b> (2);
<b>Neurorehabilitation and Neural Repair</b> (1);
<b>Neuroscience and Biobehavioral Reviews</b> (1);
<b>Neuroscience Letters</b> (3);
<b>Parkinson's Disease</b> (1);
<b>Physical Therapy</b> (7);
<b>Physiotherapy Theory and Practice</b> (1);
<b>Plos One</b> (11);
<b>Preventive Medicine</b> (1);
<b>Psychology and Aging</b> (1);
<b>Psychology of Sport and Exercise</b> (4);
<b>Quarterly Journal of Experimental Psychology</b> (3);
<b>Research Quarterly for Exercise and Sport</b> (5);
<b>Reviews in the Neurosciences</b> (1);
<b>Royal Society Open Science</b> (2);
<b>Scientific Reports</b> (2);
<b>Sports Medicine</b> (1);
<b>The Journal of the Acoustical Society of America</b> (2);
<b>The Knee</b> (2).
