<b>Featured Articles </b>(2018; #followers on Twitter):
<br/>
1- Avoiding sedentary behaviors requires more cortical resources than avoiding physical activity: An EEG study. Neuropsychologia 2018. 
<a href="https://www.biorxiv.org/content/early/2018/03/07/277988" title="bioRxiv"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
<a href="https://www.sciencedirect.com/science/article/pii/S0028393218303981?via%3Dihub" title="DOI"><i class="ai ai-doi" aria-hidden="true"></i></a>
<a href="http://matthieuboisgontier.com/doc/publication/2018/01/cheval_psy_2018.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
<br/>
2- Behavioral and neural evidence of the rewarding value of exercise behaviors: A systematic review. Sports Medicine 2018. 
<a href="https://www.biorxiv.org/content/early/2018/01/24/211425"><i class="ai ai-biorxiv" aria-hidden="true"></i></a>
<a href="https://link.springer.com/article/10.1007%2Fs40279-018-0898-0" title="DOI"><i class="ai ai-doi" aria-hidden="true"></i></a>
<a href="http://matthieuboisgontier.com/doc/publication/2018/01/Cheval_SM_2018.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
<br/>
