1- <b>Cheval B, Boisgontier M.</b> Tous paresseux? Cerveau & Psycho</a>. 2019. 
<a href="http://matthieuboisgontier.com/doc/publication/2018/01/cerveaupsycho.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
<br/>
2- <b>Boisgontier M, Cheval B.</b> Are we lazy, or just being efficient? <a href="https://www.centre4activeliving.ca/news/2019/01/brain-sedentary-behaviours/">WellSpring</a>. 2019.
<a href="http://matthieuboisgontier.com/doc/publication/2018/01/boisgontier_wellspring_2019.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
<br/>
3- <b>Cheval B, Boisgontier M, Sarrazin P.</b> Nous sommes programmés pour la paresse. <a href="https://theconversation.com/nous-sommes-programmes-pour-la-paresse-113770">The Conversation</a>. 2019.<br/>
4- <b>Boisgontier M, Cheval B.</b> Enquête aux sources de la paresse. Sport & Vie. 2019.<br/>
