1- Cheval B, <u>Boisgontier M.</u> Tous paresseux? <b>Cerveau & Psycho</b>. 2019. <a href="http://matthieuboisgontier.com/doc/publication/2018/01/cerveaupsycho.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
<br/>
2- <u>Boisgontier M</u>, Cheval B. <a href="https://www.centre4activeliving.ca/news/2019/01/brain-sedentary-behaviours/">Are we lazy, or just being efficient?</a> <b>WellSpring</b>. 2019.
<a href="http://matthieuboisgontier.com/doc/publication/2018/01/boisgontier_wellspring_2019.pdf" title="PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
<br/>
3- Cheval B, <u>Boisgontier M</u>, Sarrazin P. <a href="https://theconversation.com/nous-sommes-programmes-pour-la-paresse-113770">Nous sommes programmés pour la paresse</a>. <b>The Conversation</b>. 2019.<br/>
4- <u>Boisgontier M</u>, Cheval B. Enquête aux sources de la paresse. <b>Sport & Vie</b>. 2019.<br/>
