<ul class="icons">
   <br/>   
      2020<br/>
      <b>Assistant Professor (Professeur Régulier)</b>,
      <a href="https://www.uottawa.ca/en">University of Ottawa</a>, 
      <a href="https://health.uottawa.ca">Faculty of Health Sciences</a><br/>
      
  <br/>   
      2019-present<br/>
      <b>Associate Editor</b>, 
      <a href="http://www.ac-psych.org/en/home">Advances in Cognitive Psychology</a><br/>
      <b>Section Editor</b>,
      <a href="http://storkjournals.org">Registered Reports in Kinesiology</a>, <a href="http://storkjournals.org">Communications in Kinesiology</a><br/>

  <br/>
      2019-2020<br/>
      <b>Grants Coordinator</b>, <a href="https://www.canada-talents.ca">Canada Talents</a>, Canada<br/>  
      Canada Talents is a non-profit organization fostering and facilitating the cultural integration of French-speaking immigrants into the Canadian professional community.<br/> 
     
  <br/>
      2019<br/>
      <b>Habilitation (HDR)</b>, Université Grenoble Alpes, France<br/> The French Habilitation requires consistent research from 3 to 10 years after appointment as an Assistant Professor (Maître de Conférences), 
      a substantial amount of significant publications, the supervision of at least one PhD student from start to graduation, 
      a successful track record securing extramural funding as a principal investigator, and a 5-year research plan. 
      Exceptional postdoctoral researchers who are not yet appointed to a university can also obtain the Habilitation if they meet the requirements. 
      The Habilitation committee is constituted by a majority of external referees.
      The Habilitation entitles Assistant Professors (Maîtres de Conférences) to apply for Full Professor positions (Professeur) and is therefore similar to a promotion to an Associate Professor position in North America.<br/>
      <b>Co-chair</b>, 
      <a href="http://storkinesiology.org">Society for Transparency, Openness, and Replication in Kinesiology (STORK)</a><br/>
  
  <br/>
      2018-2019<br/>
      <b>Steering Board Member</b>, 
      <a href="http://sportrxiv.org">SportRxiv</a><br/>  
      
  <br/>
      2017-2019<br/>
      <b>Research Associate</b>, National Centre of Competence in Research LIVES – Overcoming vulnerability: Life course perspectives (<a href="https://www.lives-nccr.ch/en/page/innovative-interdisciplinary-and-comprehensive-approach-n9">NCCR LIVES</a>), Geneva, Switzerland<br/>
      Head of the group: Stéphane Cullati<br/>  
      
  <br/>
      2017-2018<br/>
      <b>Visiting Researcher</b>, University of British Columbia, Canada<br/>
      
  <br/>
      2012-2018<br/>
      <b>Postdoctoral Fellow</b>, KU Leuven, Belgium<br/>
      <a href="https://gbiomed.kuleuven.be/english/research/50000737/groups/50487173">Movement Control and Neuroplasticity research group</a><br/>
      Head of the group: Stephan P. Swinnen<br/>
  <br/>
      2011-2012<br/>
      <b>Full-Time Lecturer</b>, Université Savoie Mont Blanc, France<br/>
      <a href="https://www.univ-smb.fr/welcome-to-the-universite-savoie-mont-blanc/">Department of Sport Sciences</a><br/>
  <br/>
      2007-2012<br/>
      <b>PhD</b>, University Grenoble Alpes, National Center for Scientific Research (CNRS), France<br/>
      <a href="http://www-timc.imag.fr/rubrique77.html">Health, Plasticity, Motricity team</a><br/>
      Supervisor: Vincent Nougier<br/>
  <br/>
      2008-2009<br/>
      <b>Certificate of Advanced Study in Physical Therapy</b>, Massachusetts General Hospital, USA<br/>
      <a href="https://www.mghihp.edu/academics-schools-departments/department-physical-therapy">Institute of Health Professions</a><br/>
      Supervisor: Maura D. Iversen<br/>
  <br/>
      2006-2007<br/>
      <b>Master's degree in Movement, Performance, Health, & Engineering</b>, University Grenoble Alpes, National Center for Scientific Research (CNRS), France<br/>
      <a href="http://www-timc.imag.fr/rubrique90.html">Computer Assisted Medical Interventions team</a><br/>
      Supervisors: Nicolas Vuillerme, Yohan Payan<br/>
 <br/>
      2005-2006<br/>
      <b>Master's degree in Physical Therapy</b>, University Grenoble Alpes, France<br/>
 <br/>
      2003-2005<br/>
      <b>Bachelor's degree in Physical Therapy</b>, IFMK Assas & University Grenoble Alpes, France<br/>
  <br/>
      2002-2003<br/>
      <b>Master's degree in Kinesiology</b>, University Grenoble Alpes, France<br/>
  <br/>
      1997-2002<br/>
      <b>Bachelor's degree in Kinesiology</b>, University Grenoble Alpes, France<br/>
</ul>
